.horizontal-rule-wit-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.horizontal-rule-wit-text-line {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: #cccfce;
}

.horizontal-rule-wit-text-text {
  margin: 0 10px;
  color: #6d6f6e;
}
