.service-provider-slot-dropdown {
    width: 85%;
    background-color: transparent;
    border: 1px solid #6b6e6d;
    border-radius: 999px;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  