.service-provider-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.service-provider-checkbox-input {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  border: 1px solid #7f4651;
  background-color: transparent;
}

.service-provider-checkbox-input:checked {
  background-color: #7f4651;
}